@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 100px;
        transform: rotateX(0deg);
    }
}

.indieNotebookContainer {
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    animation: transitionIn 0.8s;
}

.indieNotebookTitle {
    animation: transitionIn 0.8s;
}

.del-edit-btns {
    display: flex;
    justify-content: end;
}

.del-edit-btns>* {
    background-color: transparent;
    border: none;
    color: aliceblue;
    transition: 0.3s;
    margin: 0;
}

.del-edit-btns>*:hover {
    text-decoration: underline;
    color: rgb(2, 184, 212)
}

.up-cancel-btns>* {
    background-color: transparent;
    border: none;
    color: aliceblue;
    transition: 0.3s;
}

.up-cancel-btns>*:hover {
    text-decoration: underline;
    color: rgb(2, 184, 212)
}

/* DISPLAYS */
.isDisplayed {
    display: block;
}

.notDisplayed {
    display: none;
}

/* DISPLAYS */

.title-input {
    height: 30px;
    width: 43%;
    margin-top: 13.8px;
    animation: transitionIn 0.8s;
}

.indieTop {
    border-bottom: 1px solid aliceblue;
    padding-bottom: 10px;
}

.created-updated-indie-div {
    display: flex;
    justify-content: center;
    position: relative;
    top: 8px;
}

#create-updated-indie {
    color: rgb(205, 203, 203);
    font-size: 12px;
}

.indieNotebookCreated {
    color: aliceblue;
    font-size: 12px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 5px;
}


h2 {
    color: aliceblue;
}

.notes-page-link {
    margin-top: 10px;
}
