footer {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    height: 2.5rem;
    border-top: aliceblue solid 0.5px;
    backdrop-filter: blur(10px);
}



.used-tech:hover {
    opacity: 100%;
}

.link-footer {
    position: relative;
    top: 0px;
    font-size: 40px;
    color: white;
}
