@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 100px;
        transform: rotateX(0deg);
    }
}

.indie-note-body {
    text-align: center;
    margin-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    font-family: 'Gothic A1', sans-serif;
    animation: transitionIn 0.8s;
}

.read-edit-btns>* {
    border: 3px solid #0096ad;
    font-size: 17px;
    font-family: 'Gothic A1', sans-serif;
}

.read-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.edit-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.color {
    color: aliceblue;
    background-color: rgb(0, 150, 173);
}

.no-color {
    background-color: aliceblue;
    color: rgb(0, 150, 173);
    transition: 0.3s;
}

.no-color:hover {
    background-color: rgb(243, 243, 243)
}

.no-color:active {
    background-color: rgb(0, 89, 102);
    color: aliceblue;
}

.read-note-div {
    animation: transitionIn 0.8s;
}

.note-title {
    color: rgb(0, 150, 173);
    font-family: 'Gothic A1', sans-serif;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    top: 10px;
}

#lean-left {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.created-updated-indie-note-div {
    display: flex;
    justify-content: left;
    position: relative;
    top: 8px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

#divider {
    padding-left: 2px;
    padding-right: 5px;
}

#create-updated-note-indie {
    color: rgb(80, 80, 80);
    font-size: 12px;
}

.indieNoteCreated {
    color: rgb(0, 150, 173);
    font-size: 12px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 5px;
    text-decoration: none;
}

.indieNoteCreatedLink {
    color: rgb(0, 150, 173);
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    text-decoration: none;
}

.indieNoteCreatedLink:hover {
    text-decoration: underline;
}

#content-span {
    border-top: 1px solid black;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 60px;
}


.note-inputs {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.note-inputs>* {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

/* EDIT */
.edit-note-div {
    animation: transitionIn 0.8s;
    background-color: aliceblue;
    border-radius: 5px;
}


#edit-texts {
    text-align: left;
    margin: 0;
    font-size: 14px;
}

.note-title-input {
    height: 40px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 150, 173);
    font-family: 'Gothic A1', sans-serif;
    position: relative;
    border: 1px solid rgb(180, 180, 180);
}

.select-notebook {
    width: 40%;
}

.note-content-input {
    width: 100%;
    height: 410px;
    font-family: 'Gothic A1', sans-serif;
    border: 1px solid rgb(180, 180, 180);
}

.edit-btns {
    text-align: left;
    position: relative;
    bottom: 5px;
}

#del-can {
    background-color: transparent;
    border: none;
    color: rgb(114, 114, 114);
    text-decoration: none;
}

#del-can:hover {
    text-decoration: underline;
}

#up-btn {
    background-color: rgb(0, 150, 173);
    border-radius: 20px;
    color: aliceblue;
    border: 1px solid aliceblue;
    transition: 0.3s;
    margin-left: 5px;
}

#up-btn:hover {
    background-color: aliceblue;
    color: rgb(0, 150, 173);
}
