body {
    background-image: radial-gradient(circle farthest-corner at 32.7% 82.7%, rgb(0, 150, 173) 8.3%, rgba(15, 51, 92, 1) 79.4%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: monospace;
    font-weight: lighter;
    transition: 0.3s;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.login-container {
    width: 278px;
    height: 238px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px rgb(241, 241, 241) solid;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 70px;
}

.login-label-div,
.username-input-div,
.password-input-div,
.sign-in-btn-div {
    margin: 10px 0;
}

.logo {
    width: 50px;
    height: 70px;
    position: relative;
    top: 25px;
}

.login-text {
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: relative;
    top: 10px;
}

.input-tag {
    height: 35px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid aliceblue;
    transition: 0.3s;
}

.input-tag:hover {
    border-color: rgb(0, 150, 173);
}

.btn {
    margin-top: -5px;
    font-size: 16px;
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: rgb(19, 35, 54);
    color: rgb(231, 231, 231);
    box-shadow: 0px 140px 32px -14px black;
    transition: 0.3s;
}

.demo-btn {
    font-size: 16px;
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: rgb(23, 73, 131);
    color: rgb(231, 231, 231);
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(15, 51, 92, 1);
    color: rgb(231, 231, 231);
}

.demo-btn:hover {
    background-color: rgba(15, 51, 92, 1);
    color: rgb(231, 231, 231);
}

.go-signup {
    margin-top: 10px;
}

.sign-up-text,
.sign-up-link {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-up-text {
    color: aliceblue;
}

.sign-up-link {
    color: rgb(231, 231, 231);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.3s;
}

.sign-up-link:hover {
    color: rgba(15, 51, 92, 1);
}


@media screen and (max-width: 800px) {
    .form-container {
        height: 60vh;
    }
}
