.signup-body {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    flex-direction: row;
}

.login-link-div {
    background-image: radial-gradient(circle farthest-corner at 32.7% 82.7%, rgb(0, 150, 173) 8.3%, rgba(15, 51, 92, 1) 79.4%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: monospace;
    font-weight: lighter;
    transition: 0.3s;
    padding-right: 2%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: aliceblue 4px solid;
}


/* LEFT SIDE */

.logo-sign-pg {
    width: 150px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 100px;
}

.welcome-back-div {
    font-size: 30px;
    display: flex;
    color: aliceblue;
    font-family: 'Gothic A1', sans-serif;
    position: relative;
    top: 80px;
    left: 20px
}

#welcome-back2 {
    margin-left: 10px;
}

.mid-text {
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    position: relative;
    top: 60px;
    left: 20px;
}

.login-btn-link {
    font-size: 20px;
    color: aliceblue;
    position: relative;
    top: 100px;
    left: 90px;
    border: 1px aliceblue solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 60px 10px 60px;
    transition: 0.3s;
    font-family: 'Open Sans', sans-serif;
}

.login-btn-link:hover {
    background-color: aliceblue;
    color: rgb(0, 150, 173);
}

/* LEFT SIDE END */



/* RIGHT SIDE */
.err-ul {
    position: relative;
    top: 15px;
}

.err-msg {
    list-style-type: none;
    color: rgb(162, 1, 1);
    text-align: left;
}

.create-account-div {
    font-size: 30px;
    display: flex;
    color: rgb(0, 150, 173);
    font-family: 'Gothic A1', sans-serif;
    position: relative;
    top: 80px;
    left: 350px
}

#create-account2 {
    margin-left: 10px;
}

.jon-links {
    position: relative;
    top: 80px;
    left: 330px;
}

.link {
    font-size: 30px;
    margin: 0 10px 0 10px;
    padding: 10px;
    color: black;
    border: 1px black solid;
    border-radius: 100%;
    transition: 0.3s;
}

.link:hover {
    color: rgb(0, 150, 173);
    border-color: rgb(0, 150, 173);
}

.sign-up-reason {
    position: relative;
    top: 130px;
    left: 330px;
    color: gray;
    font-family: 'Open Sans', sans-serif;
}

.form-container-sign-up {
    background-color: aliceblue;
    text-align: center;
    padding-bottom: 20%;
    padding-right: 47%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.form-div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 110px;
    left: 350px;
}

.input-icon {
    position: relative;
    top: 28px;
    right: 175px;
    color: rgb(94, 94, 94);
}

.signup-input {
    height: 35px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid aliceblue;
    transition: 0.3s;
    padding-left: 30px;
}

.signup-input:hover {
    border: 1px solid rgb(0, 150, 173);
}

.disabled-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 250px;
    position: relative;
    top: 25px;
    left: 50px;
    color: aliceblue;
    border: 1px aliceblue solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 12px 60px 12px 60px;
    transition: 0.3s;
    background-color: rgb(255, 0, 0);
}

.able-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 250px;
    position: relative;
    top: 25px;
    left: 50px;
    color: aliceblue;
    border: 1px aliceblue solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 12px 60px 12px 60px;
    transition: 0.3s;
    background-color: rgb(26, 255, 0);
}

.sign-up-btn:hover {
    background-color: rgba(15, 51, 92, 1);
}



/* VALIDATORS */
#invalid {
    color: gray;
}

#valid {
    color: rgb(0, 168, 0);
}

.validators {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.email-avail-text {
    position: relative;
    right: 50%;
}

/* RIGHT SIDE END */





/* PHONE SCREEN FIT */
@media screen and (max-width: 800px) {
    .signup-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
    }


    /* LEFT SIDE */

    .login-link-div {
        border-radius: 10px;
        padding-right: 1%;
    }

    .logo-sign-pg {
        width: 100px;
        height: 150px;
        position: relative;
        left: 150px;
        top: 10px;
    }

    .welcome-back-div {
        font-size: 20px;
        position: relative;
        left: 70px;
        top: -10px;
    }

    .mid-text {
        font-size: 20px;
        position: relative;
        left: 5px;
        top: -50px;
    }

    .login-btn-link {
        font-size: 20px;
        position: relative;
        left: 80px;
        top: -35px;
    }

    /* LEFT SIDE END */

    /* RIGHT SIDE */

    .form-container-sign-up {
        background-color: aliceblue;
        text-align: center;
        padding-bottom: 15%;
        padding-right: 7%;
        border-radius: 10px;
        position: relative;
        bottom: 5px;

    }

    .create-account-div {
        font-size: 20px;
        position: relative;
        left: 70px;
        top: 10px;
    }

    .jon-links {
        position: relative;
        left: 15px;
        top: 10px;
    }

    .link {
        font-size: 20px;
    }

    .sign-up-reason {
        position: relative;
        left: 20px;
        top: 35px;
    }

    .form-div {
        position: relative;
        left: 20px;
        top: 15px;
    }

    .input-icon {
        position: relative;
        top: 28px;
        right: 150px;
        color: rgb(94, 94, 94);
    }

    .signup-input {
        height: 35px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid aliceblue;
        transition: 0.3s;
        padding-left: 30px;
        /* position: relative; */
        right: 5px;
    }

}
