body {
    margin: 0;
}

.nav-div {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid aliceblue;
    box-shadow: 0px -30px 100px 0px rgb(59, 59, 59);
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);

}

.user-info {
    font-family: 'Gothic A1', sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid aliceblue;
}


.user-info>* {
    font-size: 14px;
    margin-bottom: 2px;
}


#stats {
    margin-top: 3px;
    font-family: 'Gothic A1', sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

#stats>* {
    font-size: 14px;
}

#nav-el {
    position: relative;
    right: 33px;
}

#navlink {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: 0.3s;
}

#navlink:hover {
    color: rgb(0, 150, 173);
}

.logo-letters {
    width: 320px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-link {
    text-align: center;
}

.user-stats {
    text-align: start;
}

.logout-btn {
    background-color: transparent;
    color: aliceblue;
    border-radius: 20px;
    border: 1px solid aliceblue;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: rgb(0, 150, 173);
}
